@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

body {
	font: {
		family: 'Open Sans', sans-serif;
		size:17px;
	}
	color:#3E3E3E;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
}
#page-wrapper {
	padding-top:0px;
}
.wpcf7 {
	max-width:100%
}
label {
	font-weight: 100;
	margin-bottom: 3px;
}
.lead{
	font-weight: 400;
}
.btn-primary, .wpcf7 input[type=submit] {
	background: $primary
}
.btn, .wpcf7 input[type=submit] {
	border-radius: 10rem;
	padding: 1rem 2rem;
	height:auto;
	color:#fff;
}
.btn a, a.btn {
	color:#fff;
	font:{
		weight:700;
		size:15px;
	}
}
#main-menu {
	.wpml-ls-item {
		display:none;
	}
	.btn {
		margin-top: 5px;
		a {
			color:#fff;
			padding: .5rem 0;
			
		}
	}
	.current-menu-item a {
		color: $primary !important;
		border-bottom:1px solid $primary;
	}
	.current-menu-item.btn a {
		border-bottom: 0px;
		color:#fff !important; 
	}

}
.navbar-toggler {
	border:0px;
	.navbar-toggler-icon {
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#00ADEE' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
	}
	&.collapsed .navbar-toggler-icon {
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
	}
}

.navbar-collapse.show,
.navbar-collapse.collapsing{
	background:#fff;
	margin: 2rem;
	padding: 0rem 1rem 2rem;
	box-shadow: 0 1px 23px rgba(0,0,0,.17);
	border-radius: 5px;
	.menu-item {
		border-top: 1px solid rgba(151,151,151,.3);
		&:first-child {border:0px}
		a {
			text-align: center;
			padding: 1rem
		}
	}
}

.bg-semitransparent {
	background:rgba(255, 255, 255, 0.82)
	
}

.color-line {
	position: absolute;
	top:0px;
	left:0px;
	width: 100%;
	height:3px;
	background: linear-gradient(90deg, #C93143 0%,#C93143 32%,#004BA5 32%,#004BA5 53%,#27C05F 53%,#27C05F 75%,#53C6C8 75%,#53C6C8 100%);
}

.jumbotron{
	padding:0px;
	position: relative;
	
	h1, p{
		color:#fff;
		font-weight: 300;
	}
	.slide-wrapper{
		height: 700px;
		overflow: hidden;
		.slides {
			height: 700px;
			position: absolute;
			top:0px;
			left: 0px;
			width: 100%
		}
		.bg-wrapper{
			padding: 5rem 0rem 1.5rem;
			width:100%;
			overflow: hidden;
		}
		.screenshot img{
			margin-bottom: 0px;
			max-width:150%
		}
	}
	& .testimonial-slide {
		p{
			font-size: 1.5rem;
			strong{
				font-weight: 600;
			}
		}
	}
}

.single-products, .page{
	.jumbotron{
		.slide {
			overflow: hidden;
			min-height: 560px;
			.screenshot {
				margin-bottom:-300px;
			}
		}
	}
	#page-wrapper{
		ul {
			list-style: none;
			li{
				position: relative;
				font:{
					size: 17px;
					weight:300
				}
				color:#606060;
				margin-bottom: 1rem;
			}
			li:before{
				content:'';
				background:url('../img/list-style-default.svg')no-repeat center center;
				position: absolute;
				top:0px;
				left:-35px;
				width:26px;
				height:100%;
				min-height:30px;
				@at-root .products-postal#{&} {
					background:url('../img/list-style-red.svg')no-repeat center center;
				}
				@at-root .products-3pl#{&} {
					background:url('../img/list-style-green.svg')no-repeat center center;
				}
				@at-root .products-carrier#{&} {
					background:url('../img/list-style-blue.svg')no-repeat center center;
				}
				@at-root .products-ecommerce#{&} {
					background:url('../img/list-style-aqua.svg')no-repeat center center;
				}
			}
		}
		h4 {
			font:{
				size: 25px;
				weight:300;
			}
			margin-bottom: 3rem;
		}
		.large-text {
			.block-left{
				font:{
					size: 2.25rem;
					weight:300;
				}
				color:#A5A5A5;
				a {
					font-size: 19px;
					display: block;
				}
			}
			.block-right {
				font-weight: 300;
			}
		}
	}
	.screenshot-wrapper{
		padding-bottom: 100px;
		.screenshot-holder {
			background: #f4f4f4;
			h4 {
				font-size: 29px;
			}
			p{
				font:{
					size: 17px;
					weight:300;
				}
				margin-bottom: 1rem	
			}
			.desktop {
				padding-top: 50px;
				margin-bottom: 30px;
			}
		}
	}
	#info_blocks {
		.block {
			h5{
				font:{
					size: 15px;
					weight: 600;
				}
			}
			p{
				font-size: 14px;
				color:#8F8F8F
			}
		}
	}
	#image_with_text {
		.text {
			padding: 50px 5%;
			p {
				font-weight: 300;
				&:last-child {
					margin-bottom: 2.5rem
				}
			}
			ul li {
				font-weight: 400;
				margin-bottom: 2rem
			}
			@at-root .products-3pl#{&} {
				&.light {
					p, ul li {color:#fff;}
					ul li:before{
						background:url('../img/list-style-white.svg')no-repeat center center;
					}
				}
			}
			
			@at-root .products-carrier#{&} {
				&.light {
					p, ul li {color:#fff;}
					ul li:before{
						background:url('../img/list-style-white.svg')no-repeat center center;
					}
				}
			}
			
			@at-root .products-ecommerce#{&} {
				&.light {
					p, ul li {color:#fff;}
					ul li:before{
						background:url('../img/list-style-white.svg')no-repeat center center;
					}
				}
			}
				
		}
		.image {
			h2{
				color:#fff;
				font:{
					weight: 300; 
				}
			}
			p{
				color:#fff;
				font-weight:300;
				opacity:0.6
			}
		}
	}
	#full_width_banner {
		min-height: 350px;
		padding: 50px;
		margin-top: 3px;
		h1{
			color:#fff;
			font: {
				size: 60px;
				weight:300;
			}
		}
	}
}
.clients {
	.bg-color{
		background:$primary;
	}
	.testimonials .testimonial {
		height: 500px;
		margin-bottom: 3px;
	}
	
}
.page, .clients{
	.jumbotron{
		.slide {
			overflow: hidden;
			min-height: 315px;
		}
	}
}
.page-contact {
	#content h1 {
		font-weight: 100;
		margin-bottom: 2rem;
	}
	#page-wrapper {
		margin-bottom: 0px !important;
		padding-bottom:0px;
	}

	#locations_section{
		h1 {
			font-weight: 100; 
			margin-bottom: 2rem
		}
		background: linear-gradient(90deg, rgba(232,232,232,0.80) 0%, rgba(255,255,255,0) 100%);
		ul {
			padding:0px;
			li {
				padding:0px;
				margin-bottom: .5rem !important;
				&:before{
					display: none;
				}
			}
		}
	}
}
#team_section {
	h1 {font-weight: 100;}
	h5 {
		color: $primary
	}
	p {
		opacity: .7;
	}
}
#history_section{
	position: relative;
	.move-history{
		display: inline-block;
		width: 36px;
		height: 36px;
		line-height: 28px;
		margin-right:10px;
		font-size: 2rem;
		text-align: center;
		border-radius: 5px;
		box-shadow: 0 1px 10px rgba(0,0,0,.13);
		color:#00ADEE;
		background:#fff;
		&.disabled {
			box-shadow: none;;
			opacity: .3;
		}
		&:hover {
			text-decoration: none;
		}	
	}
	background: linear-gradient(90deg, rgba(232,232,232,0.80) 0%, rgba(255,255,255,0) 100%);
	h1 {
		font-weight: 100;
		color:#686868;
	}
	p {
		opacity: 0.7
	}
	.controllers {
		position: absolute;
		width: 100%;
		top: 60%;
		z-index:1;
		.forward {
			position: absolute;
			right: 10px;
		}
	}
	.history-wrapper{
		overflow: hidden;
		.history-holder {
			hr{
				margin-bottom:0px;
				border:0px;
				border-top-width:2px;
				border-style: dotted;
				border-color:#000;
				border-image-source: url('../img/Rectangle.svg');
				border-image-slice: 20% 33%;
				border-image-repeat: round;
			}
			transition: 0.5s ease-in-out;
			.row {
				margin:0px;
			}
		}
		.milestone{
			padding:0px;
			padding-top: 60px;
			position: relative;
			text-align:center;
			&:before{
				content:'';
				position: absolute;
				top:0px;
				left:50%;
				height: 55px;
				width:1px;
				border:0px;
				border-left-width:2px;
				border-style: dotted;
				border-color:#000;
				border-image-source: url('../img/Rectangle.svg');
				border-image-slice: 33% 33%;
				border-image-repeat: round;
			}
			p {
				font-size: 16px;
				opacity: .7;
				margin-top:10px;
			}
		}
		.icon-holder{
			border-radius: 30px;
			width: 60px;
			height: 60px;
			background: rgba(0, 175, 238, 0.16);
			display: flex;
			align-items: center;
			justify-content: center;
			
		}
	}
}

.testimonial-logos{
	img.svg {
		height:48px;
		width:auto;
		filter: brightness(0) opacity(.2);
	}
	.active{
		img.svg {
			filter: brightness(0.4) sepia(1) hue-rotate(100deg) saturate(5);
			&.jersey-post {
				filter: brightness(0.4) sepia(1) hue-rotate(-54deg) saturate(5);
			}
			&.eriks {
				filter: brightness(0.4) sepia(1) hue-rotate(180deg) saturate(5);
			}
			&.apc{
				filter: brightness(0.25) sepia(1) hue-rotate(180deg) saturate(5);
			}
		}
	}
}
.testimonials{
	position: relative;
	overflow: hidden;
	p {
		color:#fff;
		font-size: 1.75rem;
		line-height: 2.5rem;
	}
	.testimonial-wrapper {
		overflow: hidden;
		height: 500px;
		width: 100%;
		position: relative;
		.testimonial-holder {
			position: absolute;
			height: 100%;
			z-index: 1;
		}
	}
	.testimonial {
		background-size: cover;
		height: 100%;
	}
	span.left{
		top: -1px;
		left:0;
		background: white;
		width: 48%;
		height: 15px;
		display: block;
		position: absolute;
		transform: skew(-60deg, 0deg);
		z-index: 2;
		transition: 0.5s ease-in-out;
		&::before {
			content: " ";
			bottom: 0;
			left:0;
			position: absolute;
			border-width: 0 15px 15px 0;
			border-style: solid;
			border-color: white;
			transform: skew(60deg, 0deg);
		}
	}
	span.right{
		top: -1px;
		right:0;
		background: white;
		width: 48%;
		height: 15px;
		display: block;
		position: absolute;
		transform: skew(60deg, 0deg);
		z-index: 2;
		transition: 0.5s ease-in-out;
		&::before {
			content: " ";
			top: 0;
			right:0;
			position: absolute;
			border-width: 0 15px 15px 0;
			border-style: solid;
			border-color: white;
			transform: skew(-60deg, 0deg);
		}
	}
}

.tile {
	height:390px;
	padding:0px;
	.row {
		margin:0px;
		flex-grow: 1;
		background-size:cover;
		background-repeat: no-repeat;
		background-position: center center;
		padding:2rem !important;
	}
	.content {
		background: #fff;
		padding:1.5rem;
		p {
			font:{
				size: 15px;
				weight: 300;
			}
			line-height: 22px;
		}
	}
}

#carrier-partners {
	margin-bottom:40px;
}

#partners {
	background: linear-gradient(135deg, rgba(230,250,253,0.8) 0%,rgba(255,255,255,0.04) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cce6fafd', endColorstr='#0affffff',GradientType=1 );
}
.site-footer {
	p, a {
		font-size: 14px;
	}
	.fine-print a {
		color:#A3A3A3;
		font-size: 13px;
	}
	.footer-menu {
		ul {
			margin: 0px;
			padding:0px;
			list-style: none;
			li {
				padding-left:0px;
				list-style: none;
				a {
					font:{
						size: 15px;
						weight: 600
					}
					
				}
			}
		}
		h6{
			font-size: 14px;
			color:#A3A3A3;
		}
	}
}

@include media-breakpoint-down(md) {
	
	.large-text {
		.block-left, .block-right{
		 width: 100% !important;
		}
	}

}
@include media-breakpoint-up(md) {
	
	.navbar-expand-md .navbar-nav .nav-link {
		padding-right:1rem;
		padding-left: 1rem;
	}
	#main-menu {
		
		.wpml-ls-item {
			display: inline-block;
			a.nav-link{
				padding: .5rem .5rem 0px;
			}
		}
		.wpml-ls-flag {
			width: 24px;
			height: 24px;
		}

		.btn{
			padding: 0rem 1rem;
			margin-top: 0px;
		}
	}
	
	
	.testimonial-logos{
		img.svg {
			max-height: 64px;
		}
	}
	
	.contact {
		margin-bottom: 80px
	}
	
	#partners {
		.services {
			margin-bottom:80px;
		}
	}
	.jumbotron{
		.slide-wrapper{
			.bg-wrapper{
				padding: 5rem 2rem;
			}
			.screenshot img{
				margin-bottom: -200px;
				max-width:100%;
			}
		}
		& .testimonial-slide {
			p{
				font-size: 2rem;
				strong{
					font-weight: 600;
				}
			}
		}
	}
	.single-products {
		.jumbotron{
			.slide {
				.screenshot {
					margin-bottom:-300px;
				}
			}
		}
		#content{
			ul li{
			margin-bottom: 1.75rem;
			}
		}
	}
	
	.single-products .screenshot-wrapper{
		.screenshot-holder {
			.desktop {
				padding-top: 50px;
				margin-bottom: -35px;
			}
		}
	}
	#image_with_text {
		.text {
			padding: 100px 5%;
			width:90%;
		}
	}
	#history_section{
		.controllers {
			position: relative;
			width: auto;
			top: 0px;
			z-index:1;
			.forward {
				position: relative;
				right: 0px;
			}
		}
		.history-wrapper{
			padding-left:40px;
			.history-holder {
				hr{
					margin-left:30px;
				}
				.row {
					margin:0px;
				}
			}
			.milestone{
				padding:0px;
				padding-top: 60px;
				position: relative;
				text-align:left;
				&:before{
					left:30px;
				}
				p {
					max-width: 90%;
				}
			}
		}
	}

}